{% extends 'base.html' %} {% block title %}Result - {% endblock %} {% block
content %}
<!--Form starts here-->
<!--Set the id to "prediction-form"-->
<!--Set the action to "{{ url_for('predict') }}"-->
<!--This will use the /predict API route we have created-->
<!--Set the form method to POST-->
<form id="prediction-form" action="{{ url_for('predict') }}" method="POST">
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
      Fullname:
    </label>
    <!--Fullname input field with "name" name attribute-->
    <input
      name="name"
      id="name"
      type="text"
      class="block appearance-none w-full bg-white border border-gray-400 px-4 py-2 pr-8 shadow"
      required
    />
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="country">
      Country:
    </label>
    <!--Country select field with "country" name attribute-->
    <!--We will populate the <option> element using JavaScript in main.js-->
    <select
      id="country"
      name="country"
      class="block appearance-none w-full bg-white border border-gray-400 px-4 py-2 pr-8 shadow"
      required
    ></select>
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="message">
      Message:
    </label>
    <!--Message textarea field with "message" name attribute-->
    <textarea
      id="message"
      name="message"
      class="shadow appearance-none border w-full bg-white border border-gray-400 py-2 px-3 text-gray-700"
      rows="10"
      required
    ></textarea>
  </div>

  <!--Submit button-->
  <input
    type="submit"
    value="Submit"
    class="cursor-pointer w-full bg-black text-white font-bold mt-8 p-4 focus:outline-none focus:shadow-outline"
  />
</form>
{% endblock %}
